*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #b1d8e7;
  font-family: sans-serif;
}

.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}

.button-container{
  text-align: center;
}

.todo-container{
  display: grid;
}

.post-container{
  display: none;
}

.user-container{
  display: none;
}
form{
  text-align: center;
  margin: 30px;
  font-size: 40px;
}

select{
  font-size: 40px;
  margin-left: 30px;
}
